<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" src="/assets/checkmark-done-outline.svg"></ion-icon>
      <ion-label>Authenticate</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" src="/assets/calendar-outline.svg"></ion-icon>
      <ion-label>Events & Notices</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" src="/assets/trophy-outline.svg"></ion-icon>
      <ion-label>Achievements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" src="/assets/thumbs-up-outline.svg"></ion-icon>
      <ion-label>Approved</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
