<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Events and Notices Management
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Events Section -->
  <ion-list>
    <ion-list-header>
      <ion-label>Events</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let event of events" class="event-item">
      <img [src]="event.image" alt="{{ event.title }}" class="event-image">
      <ion-label>{{ event.title }}</ion-label>
      <ion-note slot="end">{{ event.date }}</ion-note>
    </ion-item>
  </ion-list>

  <!-- Notices Section -->
  <ion-list>
    <ion-list-header>
      <ion-label>Notices</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let notice of notice">
      <ion-label>{{ notice.title }}</ion-label>
      <ion-note slot="end">{{ notice.date }} - Due: {{ notice.dueDate }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
