<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Achievements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let achievement of achievements" class="achievement-item">
      <img [src]="achievement.image" alt="{{ achievement.title }}" class="achievement-image">
      <!-- <ion-label>{{ achievement.title }}</ion-label> -->
      <ion-note slot="end">{{ achievement.date }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
